.appointments-container {
    margin-top: 20px;
  }
  
.appointments-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .appointments-table th,
  .appointments-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .appointments-table th {
    background-color: #f2f2f2;
  }
  
  .appointments-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .appointments-table tr:hover {
    background-color: #d18080;
  }