.input-container {
    margin-top: 50px;
    margin-bottom: 20px; 
  }
  
  .input-container label {
    
    display: block; 
    margin-bottom: 5px; 
  }
  
  .input-container input {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid red; 
  }
  